*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.left{
  height: 88vh;
  width: 15vw;
  background-color: black;
}

.white{
  color: white;

}
.grey{
  color: grey;
}
.window{
  position: absolute;
  left: 15vw;
  top: 0;
  width: 85vw;
  height: 88vh;
  background-color: rgb(23, 20, 20);
  overflow: hidden;
  overflow-y: scroll;
}

.music{
  width: 99vw;
  height: 5vw;
  background-color: blue;
}
